<div class="container" *ngIf="!isEmptyObject(currentUser); else loggedOut">
    <h4>Find a Barber:</h4>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" (keyup)="search($event)" />
    </span>

    <div class="list" *ngFor="let barber of barbershops">
        <a class="list-item">{{ barber.username }}</a>
        <a *ngIf="barber.message" class="list-item">{{ barber.message }}</a>
    </div>
    
</div>


<ng-template #loggedOut>
    Please login.
</ng-template>